body {
  margin: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

a, a:link, a:visited {
  text-decoration: none;
}

.button {
  width: 100px;
  height: 36px;
  background-color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 16px;
}

.buttontext {
  font-size: 15px;
}

.artikel {
  width: 200px;
  height: 56px;
  background-color: #009688;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  bottom: 16px;
  right: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(000, 0, 0, 0.2);
  transition: 0.2s;
}

.artikel h1 {
  font-size: 20px;
}

/* MAIN CONTAINER */

.main_container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */

header {
  width: 100vw;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}

header .header_content {
  width: 70vw;
  max-width: 1300px;
  height: 156px;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header_logo h1 {
  font-size: 30px;
  margin: 0;
  color: #212121;
}

header .header_search {
  width: 600px;
  height: 36px;
  background-color: white;
  padding: 2px;
  border: 1px solid #212121;
  display: flex;
  justify-content: space-between;
}

header input {
  width: 558px;
  font-size: 15px;
  border: none;
  padding: 0 16px 0 16px;
}

header .search_button {
  width: 40px;
  height: 36px;
  background-color: #009688;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header .header_search .search_result {
  width: 568px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px 0px 16px;
  position: absolute;
  z-index: 2;
  top: 100px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

header .header_search .search_tiles {
  width: 568px;
  height: 8px;
  padding: 8px 16px 8px 16px;
  margin: 4px 0px 4px 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .header_search .search_tiles:hover {
  background-color: #eee;
}

header .header_cart {
  width: 200px;
  height: 52px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #212121;
}

header .header_cart h1 {
  font-size: 20px;
  color: #212121;
}

/* NAVIGATION BAR */

nav {
  width: 100vw;
  height: 52px;
  background-color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav_content {
  width: 70vw;
  max-width: 1300px;
  height: 52px;
  background-color: #009688;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav_links {
  width: 100px;
  height: 52px;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
}

nav a, nav a:link, nav:visited {
  text-decoration: none;
}

nav .nav_links h1 {
  font-size: 15px;
  color: white;
  text-align: center;
}

nav .nav_links:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav .nav_links:hover .category {
  display: flex;
}

nav .category {
  width: 50vw;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 208px;
  left: inherit;
  z-index: 1;
  display: none;
  max-width: 1300px;
  flex-wrap: wrap;
}

nav .category_block {
  margin: 16px;
  color: #212121;
}

nav .category_block h1 {
  color: #212121;
  font-size: 20px;
  margin: 16px;
}

nav .category_block h3 {
  color: #212121;
  font-size: 15px;
  margin: 16px;
}

/* MAIN CONTENT */

.main_content {
  width: 70vw;
  max-width: 1300px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media {
  width: 70vw;
  max-width: 1300px;
  height: 300px;
  background-color: #212121;
}

.content_title {
  width: 70vw;
  max-width: 1300px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 16px 0;
}

.content_title h1 {
  font-size: 20px;
  color: #212121;
  text-align: center;
}

.content_title hr {
  width: 20vw;
}

.news_content {
  width: 70vw;
  max-width: 1300px;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news_block {
  width: 280px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.news_block3 {
  width: 280px;
  height: 600px;
  background-color: #212121;
  margin: 16px;
}

.news_block2 {
  display: flex;
  flex-grow: 1;
  margin: 16px;
  background-color: #212121;
}

#samsung {
  background-image: url(../img/samsung.png);
}

#ryzennews {
  background-image: url(../img/ryzennews.png);
}

#buildcomp {
  background-image: url(../img/buildcomp.png);
}

#learnmore {
  background-image: url(../img/learnmore.png);
}

/* KUNDVAGN */

.kundvagn_content {
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.kundvagn_labels {
  display: flex;
  height: 52px;
}

.l1 {
  display: flex;
  flex-grow: 3;
  border: 1px solid #212121;
  margin: 0px 4px 0px 4px;
  justify-content: center;
  align-items: center;
}

.l2 {
  display: flex;
  flex-grow: 1;
  border: 1px solid #212121;
  margin: 0px 4px 0px 4px;
  justify-content: center;
  align-items: center;
  color: #212121;
}

.kundvagn_labels h1 {
  font-size: 20px;
}

.amount {
  width: 150px;
  height: 26px;
  margin-right: 72px;
  display: flex;
}

.amount h1 {
  font-size: 15px;
}

.amount_comp {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #212121;
  cursor: pointer;
}

.amount_amount {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

.to_checkout {
  width: 70vw;
  max-width: 1300px;
  height: 36px;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

/* CHECKOUT */

.checkout_content {
  width: 70vw;
  padding: 16px;
  background-color: red;
  display: flex;
  justify-content: space-around;
}

.checkout_content_left, .checkout_content_right {
  width: 332px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.checkout_content div h1 {
  font-size: 20px;
  color: #212121;
}
.checkout_content div input {
  width: 300px;
  height: 36px;
  font-size: 20px;
}

.order_overview {
  width: 300px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 8px;
}

.order_overview hr {
  width: 300px;
}

.order_overview p {
  margin-top: 8px;
}

.order_giftcard {
  width: 300px;
  background-color: white;
  padding: 16px;
  margin: 8px;
}

.order_paymethod {
  width: 300px;
  margin: 8px;
}

.zip_nr {
  width: 300px;
  display: flex;
}

.zip_nr div {
  margin: 8px;
}

#zip, #mnr {
  width: 134px;
}

.slutfor {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

input::-webkit-input-placeholder {
  padding-left: 16px;
}

/* TECH SWITCH */

.tech_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  text-align: center;
}

.techswitch_explain {
  max-width: 500px;
}

.techswitch_forms {
  width: 70vw;
  display: flex;
  justify-content: center;
}

.techswitch_forms form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techswitch_forms form input {
  width: 500px;
  height: 48px;
  margin: 26px;
  font-size: 20px;
}

.techswitch_forms form button {
  width: 100px;
  height: 36px;
  border: none;
  background-color: #009688;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/* SEARCH */

.search_content {
  width: 70vw;
  max-width: 1300px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.search_content .search_title {
  font-weight: normal;
  font-size: 20px;
}

.search_block {
  width: 70vw;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_blocks {
  width: 70vw;
  max-width: 1300px;
  height: 208px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #212121;
  margin: 5px;
  color: #212121;
}

.search_blocks .left {
  margin-left: 16px;
}

.search_blocks div {
  display: flex;
  align-items: center;
}

.search_blocks .product_name {
  font-size: 20px;
  margin-left: 16px;
}

.search_blocks .product_price {
  font-size: 20px;
}

.product_id {
  display: none;
}

/* SLIDESHOW */

#slideshow {
  width: 70vw;
  max-width: 1300px;
  height: 300px;
}

#slideshow > div {
  position: absolute;
}

#slideshow img {
  width: 70vw;
  max-width: 1300px;
  height: 300px;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 400px;
  background-color: #009688;
  margin-top: 16px;
}

@media screen and (max-width: 1350px) {
  header .header_search {
    display: none;
  }
  header .header_cart {
    display: none;
  }
  .main_content {
    width: 100vw;
    box-shadow: 0;
    padding: 0;
  }
  #slideshow {
    display: none;
  }
  .media {
    display: none;
  }
  .news_block2, .news_block3 {
    width: 100vw;
  }
  .news_block {
    display: none;
  }
  .news_content {
    width: 100vw;
    align-items: center;
  }
  nav .nav_content {
    flex-direction: column;
    height: 100%;
  }
  nav {
    height: 0;
    overflow: hidden;
    transition: 0.2s ease;
    background-color:#009688;
  }
  header {
    height: 100%;
  }
  .mobile_nav {
    width: 100vw;
    height: 28px;
    background-color: #009688;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .mobile_nav i {
    color: white;
    margin-right: 16px;
    font-size: 24px;
  }
  nav.nav_show {
    height: 364px;
    transition: 0.2s ease;
  }
  nav .nav_links {
    width: 100vw;
  }
  nav .category {
    width: 100vw;
    left: 0;
    flex-wrap: none;
    flex-direction: column;
  }
}

@media screen and (min-width: 1350px) {
  .mobile_nav {
    display: none;
  }
  #cart_icon {
    display: none;
  }
}
