body {
  margin: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

/* MAIN CONTAINER */

.main_container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */

header {
  width: 100vw;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}

header .header_content {
  width: 65vw;
  max-width: 1300px;
  height: 156px;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header_logo h1 {
  font-size: 30px;
  margin: 0;
  color: #212121;
}

header .header_search {
  width: 600px;
  height: 36px;
  background-color: white;
  padding: 2px;
  border: 1px solid #212121;
  display: flex;
  justify-content: space-between;
}

header input {
  width: 558px;
  font-size: 15px;
  border: none;
}

header .search_button {
  width: 40px;
  height: 36px;
  background-color: #009688;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header .header_cart {
  width: 200px;
  height: 52px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .header_cart h1 {
  font-size: 20px;
  color: #212121;
}

/* NAVIGATION BAR */

nav {
  width: 100vw;
  height: 52px;
  background-color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav_content {
  width: 65vw;
  max-width: 1300px;
  height: 52px;
  background-color: #009688;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .nav_links {
  width: 100px;
  height: 52px;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
}

nav a, nav a:link, nav:visited {
  text-decoration: none;
}

nav .nav_links h1 {
  font-size: 15px;
  color: white;
  text-align: center;
}

nav .nav_links:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav .nav_links:hover .category {
  display: flex;
}

nav .category {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 208px;
  z-index: 1;
  display: none;
  max-width: 800px;
  flex-wrap: wrap;
}

nav .category_block {
  margin: 16px;
  color: #212121;
}

nav .category_block h1 {
  color: #212121;
  font-size: 20px;
  margin: 16px;
}

nav .category_block h3 {
  color: #212121;
  font-size: 15px;
  margin: 16px;
}

/* MAIN CONTENT */

.main_content {
  width: 65vw;
  max-width: 1300px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media {
  width: 65vw;
  max-width: 1300px;
  height: 300px;
  background-color: #212121;
}

.news {
  width: 65vw;
  max-width: 1300px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 16px 0;
}

.news h1 {
  font-size: 20px;
  color: #212121;
}

.news hr {
  width: 526px;
}

.news_content {
  width: 65vw;
  max-width: 1300px;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news_block {
  width: 280px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.news_block3 {
  width: 280px;
  height: 600px;
  background-color: #212121;
  margin: 16px;
}

.news_block2 {
  display: flex;
  flex-grow: 1;
  margin: 16px;
  background-color: #212121;
}

/* SLIDESHOW */

#slideshow {
  width: 65vw;
  max-width: 1300px;
  height: 300px;
}

#slideshow > div {
  position: absolute;
}

#slideshow img {
  width: 65vw;
  max-width: 1300px;
  height: 300px;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 400px;
  background-color: #009688;
  margin-top: 16px;
}
